<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>MFOWN</title>
	  <link href='http://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/active.css">
</head>
<body>
	<div class="flash">
		<embed src="./images/qq.swf" loop="false" class="vid" />
	</div>
	<div class="super_box">
	<div id="sidebar" style="left: -500px;">
		<input type="submit" value="Chinese" class="lbtn">
		<input type="submit" value="English" class="lbtn">
		<input type="submit" value="Japanese" class="lbtn">
		<img src="./images/close.png" id="closeside">
		<h2>INFORMATION</h2>
		<p class="title">2017.8.7&nbsp;&nbsp;&nbsp;夏季休業</p>
		<p id="articleone" class="article">
			平素は格別のお引き立てを賜わり厚くお礼申し上げます。 誠に勝手ながら下記の期間を夏季休業とさせていただきます。
			8月11日（金）～8月16日（火）

			休み期間中のお問合せに関しては弊社webサイトの「お問合せフォーム」、もしくはメールにてお願いいた。
			<img src="./images/fat.jpg" width="190px" height="188px">
		</p>
		<p class="title">2017.6.26&nbsp;&nbsp;&nbsp;MF創立3周年</p>
		<p id="articletwo" class="article">
			MF創立3周年に伴うCI、webサイトリニューアルのお知らせ

			AROUNDは6月24日に創立3周年を迎えることができました。
			これまで多くのお客さま・パートナーさまのご理解、ご協力に感謝し、クリエイティブ／マーケティング／Eコマースを軸に4期目もAROUNDならではの価値提供を続けて参ります。

			また、3周年に合わせて弊社コーポレートアイデンティ(CI)をリニューアル致しました。
		</p>
	</div>

	<div id="sidebarright">
		<img src="./images/close.png" id="closesideright">
		<h2>CONTACT</h2>
		<ul>
			<li>PHONE</li>
			<li>EMAIL</li>
			<li>QQ</li>
			<li>WE CHAT</li>
			<li>GITHUB</li>
			<li class="teshu">Show Content</li>
		</ul>
		<div class="send">
			<a href="SendMassage.html">SEND MESSAGE</a>
		</div>
	</div>


	<div class="menu">
		<img src="./images/2.png">
		<div id="btnside">
			INFORMATION
		</div>
	</div>

	<div class="contact">
		<div id="btnsideright">
			CONTACT
		</div>
	</div>

	<div class="item">
		<div id="list">
			TO-DO LIST
		</div>
	</div>


	<div class="todo" id="todo" ng-controller="Controller">
		<img src="./images/close.png" id="listclose">
		<h3>What would you like to accomplish at this site?</h3>
		<form ng-submit="addItem()">
			<label for="">Add items</label>
			<input type="text" ng-model="todo">
		</form>
		<dl>
			<dt>To-do list: {{todos.length}}</dt>
			<dd ng-repeat="todo in todos track by $index">
				<input type="checkbox" ng-checked="todo.checked" ng-click="done($index, $event)">
				{{todo.text}}
				<a ng-href="" ng-click="delete($index, todos)">删除</a>
			</dd>
			<dt>already done: {{doneTodos.length}}</dt>
			<dd ng-repeat="todo in doneTodos track by $index">
				<input type="checkbox" ng-checked="todo.checked" ng-click="undone($index, $event)">
				{{todo.text}}
				<a ng-href="" ng-click="delete($index, doneTodos)">删除</a>
			</dd>
		</dl>
	</div>



	<header>
		<div class="inner">
			<div class="logo">MF吃不胖的胖子</div>
			<nav>
				<ul id="jump">
					<li>MY EARTH</li>
					<li>ABOUT ME</li>
					<li>WORKS</li>
					<li>CHOP</li>
				</ul>
			</nav>
		</div>
	</header>

	<div class="storey mainone">
		<div class="curcle" style="width: 16px;height: 16px;top: 10px;left: 245px;"></div>
		<div class="curcle" style="width: 14px;height: 14px;top: 30px;left: 630px;"></div>
		<div class="curcle" style="width: 18px;height: 18px;top: 268px;left: 933px;"></div>
		<div class="curcle" style="width: 12px;height: 12px;top: 402px;left: 316px;"></div>
		<div class="planet"></div>
		<div class="earth">
			<div class="smallearth"></div>
			<div class="photo">
				<div class="slideone">
					<div class="curcle" style="width: 16px;height: 16px;top: 80px;left: 20px;"></div>
					<div class="curcle" style="width: 13px;height: 13px;top: 30px;left: 100px;background-color: #fff;border: 5px solid #c30d23;"></div>
					<div class="curcle" style="width: 14px;height: 14px;top: 70px;left: 160px;"></div>
					<div class="curcle" style="width: 18px;height: 18px;top: 120px;left: 50px;background-color: #fff;border: 4px solid #c30d23;"></div>
					<div class="curcle" style="width: 12px;height: 12px;top: 180px;left: 150px;"></div>
				</div>
				<div class="slidetwo">
					<div class="curcle" style="width: 16px;height: 16px;top: 80px;left: 20px;"></div>
					<div class="curcle" style="width: 13px;height: 13px;top: 30px;left: 100px;background-color: #fff;border: 4px solid #c30d23;"></div>
					<div class="curcle" style="width: 14px;height: 14px;top: 70px;left: 160px;"></div>
					<div class="curcle" style="width: 18px;height: 18px;top: 120px;left: 50px;background-color: #fff;border: 6px solid #c30d23;"></div>
					<div class="curcle" style="width: 12px;height: 12px;top: 180px;left: 150px;"></div>
				</div>
			</div>
			<div class="rec"></div>
		</div>
		<div class="down" id="down">
			<p>down</p>
			<img src="images/down.png">
		</div>
	</div>


	<div class="storey maintwo">
		<div class="curcle" style="width: 16px;height: 16px;top: 15px;left: 252px;"></div>
		<div class="curcle" style="width: 14px;height: 14px;top: 68px;left: 630px;"></div>
		<div class="curcle" style="width: 12px;height: 12px;top: 190px;left: 382px;"></div>
		<div class="curcle" style="width: 18px;height: 18px;top: 165px;left: 927px;"></div>
		<div class="translate">translate:</div>
		<input type="submit" value="Chinese" class="trbtn" style="right: 190px;">
		<input type="submit" value="English" class="trbtn" style="right: 100px;">
		<input type="submit" value="Japanese" class="trbtn" style="right: 0px;">
		<h2>ABOUT ME</h2>
		<h3 class="trans">私たちは、ストーリーテリングのプロフェッショナルです。</h3>
		<p class="trans">ニーズを掴むコンセプトデザイン、様々なフォーマットでの制作物はもちろん、</p>
		<p class="trans">実際に手に取ってそのストーリーを実感できる販売インフラの構築まで、</p>
		<p class="trans">ワンストップでサービスを提供してきました。</p>
		<p class="trans">今後も生活様式の変化に伴い、デバイス・トレンド・販売経路も変化し続けていきます。</p>
		<p class="trans">私たちAROUNDはクリエイティブ/マーケティング/Eコマースの3つを軸に、</p>
		<p class="trans">ユーザーにもブランドにも常に求められる、一貫したコンテクストの実現と提供を</p>
		<p class="trans">本質的価値としています。</p>
		<div class="ufo"><img src="./images/3.png"></div>
	</div>


	<div class="storey mainthree">
		<div class="curcle" style="width: 16px;height: 16px;top: 15px;left: 252px;"></div>
		<div class="curcle" style="width: 14px;height: 14px;top: 68px;left: 630px;"></div>
		<div class="curcle" style="width: 15px;height: 15px;top: 190px;left: 130px;"></div>
		<div class="curcle" style="width: 18px;height: 18px;top: 356px;right: 100px;"></div>
		<div class="boll"><img src="./images/6.png"></div>
		<div class="ryun"><img src="./images/9.png"></div>
		<div class="lyun"><img src="./images/8.png"></div>
		<h1>WORKS</h1>
		<div class="project" id="slideproject">
           <ul id="project">
               <li><a href="javascript:;"><img src="images/slidepic1.jpg" alt=""/></a></li>
               <li><a href="javascript:;"><img src="images/slidepic2.jpg" alt=""/></a></li>
               <li><a href="javascript:;"><img src="images/slidepic3.jpg" alt=""/></a></li>
               <li><a href="javascript:;"><img src="images/slidepic4.jpg" alt=""/></a></li>
               <li><a href="javascript:;"><img src="images/slidepic5.jpg" alt=""/></a></li>
           </ul>
           <div class="arrow" id="arrow">
               <a href="javascript:;" class="prev"></a>
               <a href="javascript:;" class="next"></a>
           </div>
       </div>
	</div>


	<div class="storey mainfour">
		<img class="alien" src="./images/7.png">
		<img class="airport" src="./images/air.png">
		<img class="yun" src="./images/8.png" style="top: 524px;right: 20px;animation: yun 10s linear infinite;">
		<img class="yun" src="./images/9.png" style="top: 724px;right: 50px;">
		<img class="yun" src="./images/10.png" style="top: 924px;right: 30px;animation: yun 6s linear infinite;">
		<img class="yun" src="./images/13.png" style="top: 1124px;right: 50px;animation: yun 20s linear infinite;">
		<img class="yun" src="./images/9.png" style="top: 624px;left: 10px;">
		<img class="yun" src="./images/13.png" style="top: 1024px;left: 50px;">
		<img class="yun" src="./images/11.png" style="top: 750px;left: 150px;animation: updown 7s linear infinite;">
		<img class="yun" src="./images/12.png" style="top: 1324px;left: 100px;animation: updown 15s linear infinite;">
		<img class="bg" src="http://around.co.jp/wp-content/themes/around/img/sec04_img01_2.svg">
		<div class="vie" id="vie">
		</div>

		<div class="project">
			<h2>PROJECT</h2>
			<p class="title">HANILOOK</p>
			<p class="content">
				コンセプトは " ハイブランドと合う、大人かわいいプチプラ "。バッグはちゃんとした物を持ちたい。 特別なワンピースを着たい。ドキドキする一足で出掛けたい。そんな想いのこもったスタイリングを邪魔せず、引き立てるようなアイテムを集めました。
			</p>
			<a href="https://github.com/mofang01" target="_blank">VIEW SITE</a>
		</div>
		<div class="company">
			<h1>COMPANY</h1>
			<div>
				<p style="font-weight: bold;">商号</p>
				<p class="rh" style="margin-right: 81px;">株式会社AROUND</p>
			</div>
			<div>
				<p style="font-weight: bold;">代表取締役</p>
				<p class="rh" style="margin-right: 161px;">南テス</p>
			</div>
			<div>
				<p style="font-weight: bold;">取締役</p>
				<p class="rh" style="margin-right: 148px;">片山優希</p>
			</div>
			<div>
				<p style="font-weight: bold;">設立日</p>
				<p class="rh" style="margin-right: 89px;">华夏26年6月24日</p>
			</div>
			<div>
				<p style="font-weight: bold;">資本金</p>
				<p class="rh" style="margin-right: 34px;">3,000万円（準備金含む）</p>
			</div>
			<div>
				<p style="font-weight: bold;">電話番号</p>
				<p class="rh" style="margin-right: 77px;">010-6754-9816540</p>
			</div>
			<div>
				<p style="font-weight: bold;">本社所在地</p>
				<p class="rh">渋谷区神南1-5-14 三船ビル703</p>
			</div>
		</div>


		<img id="totop" src="http://around.co.jp/wp-content/themes/around/img/sec04_img03.svg">
		<img class="house" src="./images/house.png">
	</div>


	<footer>
		<div class="inner">
			<div class="binggo" id="binggo">M</div>
			<img id="code" src="./images/code.png">
			<div class="copyright">
				<p class="one">プライバシーポリシー</p>
				<p class="two">Copyright ©2017 MF.github,All rights reserved.</p>
			</div>
		</div>
	</footer>
	</div>

	
</body>
</html>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="./js/sidebar.js"></script>
    <script src="./js/jump.js"></script>
    <script src="./js/project.js"></script>
    <script src="./js/angular.min.js"></script>
    <script src="./js/ajax.js"></script>
    <script src="./js/todo.js"></script>